html{
    height: 100%;
}

body{
}

h1 {
    text-align: center;
}
#ks-crochet {
    padding: 10px 0px;
    text-align: center;
}
.home-body, .products-body {
    background-color: #edf6f9;
}

.register-body, .login-body, .passreset-body {
    background-color: #edf6f9;
}

.checkout-body {
    background-color: #83c5be;
}


/**Navigation Bar**/ 
#navbar-title {
    text-align: right;
    font-size: small;
}

#page-navbar, #navbar-topbottom {
    background-color: #caf0f8;
    border-radius: 30px;
    margin: 0 15px 0;
}

/**Home**/ 
#home-text {
    padding-top: 30px;
}

#costumers {
    padding-bottom: 20px;
}


/**Products**/

#products {
    background-color: #03045e;
}
#product-cards {
    
}


/**Sign Up**/


/**Login**/
#login-h1 {
    padding-top: 15px;
}

#login-card {
    background-color: #006d77;
    margin: 25px;
}


#login-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/**Reset password**/
#reset-card {
    margin: 20px;
    background-color: #006d77;
    color: #edf6f9;
}


#reset-button {
    background-color: #83c5be;
    color: #03045e;
    margin-top: 10px;
    border-radius: 20px;
}


/**Checkout**/


