html{
    height: 100%;
}

body{
}

h1 {
    
}
.home-body, .products-body {
    background-color: #edf6f9;
}

.register-body, .login-body, .passreset-body {
    background-color: #edf6f9;
}

.checkout-body {
    background-color: #83c5be;
}


/**Navigation Bar**/ 
#navbar-title {
    margin-left: 340px;
    margin-right: auto;
}

#page-navbar, #navbar-topbottom {
    background-color: #caf0f8;
    border-radius: 30px;
    margin: 0 15px 0;
}

/**Home**/ 
#home-text {
    padding-top: 30px;
}

#costumers {
    padding-bottom: 20px;
}


/**Products**/

#products {
    background-color: #03045e;
}
#product-cards {
    
}


/**Sign Up**/


/**Login**/
#login-h1 {
    padding-top: 15px;
}

#login-card {
    background-color: #83c5be;
    margin: 25px;
}

#login-card-text {
    color: #006d77;
}

#login-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/**Reset password**/
#reset-card {
    margin: 20px;
}


/**Checkout**/


